body {
    background-color: #EC6F54;
}

.logo {
    height: 40px;
}

.logo img {
    display: block;
    width: 10%;
}

.logofooter {
    width: 20%;
}

.logofooter img {
    display: block;
}

.navbar-nav {
    display: inline-block;
    float: none;
}
